html {
    background-color: white;
    color: #19171c;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    font-family: sans-serif;
}

.expander {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 70%;
    padding: 10px 30px;
    border: 0;
    border-bottom: 1px solid #c8c9ca;
    background: none;
    color: inherit;
    font-family: sans-serif;
    background-color: #f0f3f4;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.expander:hover {
    background-color: rgb(201, 199, 199)  !important; 
}

.expander-title {
    text-align: left;
}

.expander-icon {
    display: flex;
    align-items: center;
}

.accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.accordion > .expander:nth-of-type(even) {
    background-color: #c2d8df;
}

.accordion > .expander:nth-of-type(odd) {
    background-color: #edf8e7;
}

.description {
    width: 70%;
    max-width: 700px;
    text-align: left;
    margin: 10px;
    background-color: white;
    padding: 0px 30px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height .5s ease;
}

.show {
    height: 50px;
    opacity: 1;
    padding: 10px 30px;
}

.hidden {
    height: 0;
    opacity: 0;
    margin: 0.3px 30px;
}

.icon {
    transition: transform 0.3s ease;
}

.icon.rotated {
    transform: rotate(-180deg);
}